.main-i-sitter {

    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    background-color: #fff;

    padding-top: 40px;
    padding-bottom: 30px;

    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.3);
    
}

.registration-form-sitter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    
}

.registration-form-sitter h2 {
    color: rgba(3, 110, 130, 1);
    font-size: 2rem;
    margin-bottom: 40px;
}
.form-group-sitter {
    .form-group {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    margin-bottom: 20px; 
}
}

.registration-form-sitter .form-group-sitter {
    width: 50%;   
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-form-sitter label {
    font-weight: bold;
    margin-right: 20px;
    font-size: 16px;
    flex-basis: 100px;
    text-align: right;
}

.registration-form-sitter input {
    flex-grow: 1;
    background-color: white;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 9px;
    font-size: 15px;
    width: 90px;
    margin-left: 10px;
    
}

.registration-form-sitter button {
    display: block;
    width: 200px;
    padding: 10px;
    background-color: #000;
    border-radius: 9px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}

.registration-form-sitter button:hover {
    background-color: #333;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.3);
}