.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 3rem;
    margin-top: 50px;
    background-color: rgba(3, 110, 130, 1);
    color: #060505;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    min-height: 200px;

}

.footer-logo {
    width: 150px;
    height: 60px;
    margin-top: 20px;
}



.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 200px;
}

.footer-section {
    flex-basis: 25%;
    padding: 0 1rem;
}

.footer-section h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #111010;
}

.footer-section p,
.footer-section a {
    font-size: 0.9rem;
    color: #cdd4f6;
    text-decoration: none;
    line-height: 1.6;
}

.footer-section a:hover {
    color: #3b2d2d;
    text-decoration: underline;
}

.footer-social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}

.footer-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #555;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.telecharger  {
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #111010;
}
.footer-social a:hover {
    background-color: #777;
    transform: scale(1.1);
}

.store img {
    width: 110px;
    cursor: pointer;
}

.footer-bottom {
    text-align: center;
    padding: 1rem 0;
    width: 100%;

    color: #030303;
}