@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Athiti:wght@400;700&display=swap');

@font-face {
    font-family: 'Jersey\ 716';
    src: url('../../../Assets/Font/Jersey\ 716.ttf') format('truetype');
}


.container-offer-sitter {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    z-index: 0;

}

.heading-sitter {
    font-size: 40px;
    color: #333;
    text-align: center;
    margin-left: 60px;
    margin-right: 50px;
    margin-top: 30px;

}

.content-sitter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.left-section-sitter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 120px;
}




.second-partie-sitter {

    font-size: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(176, 207, 203, 0.754);
    border-radius: 20px;
    margin-top: 30px;


}

.center-sitter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-sitter {
    padding: 10px 10px 10px 70px;
    position: relative;
    text-align: center;
    width: 550px;
    height: 50px;
    left: -15px;
    margin-bottom: 5px;
    margin-top: 20px;
    background-color: rgba(244, 123, 104, 1);
    border-radius: 30px;
    border-bottom-left-radius: 0;


}

.banner-sitter i {
    font-family: 'Athiti', sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

.banner-sitter::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 30px;
    left: -0px;
    top: 50px;
    background-color: #d9534f;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 2;
}

.banner-sitter::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: -0px;
    top: 50px;
    background-color: rgba(244, 123, 104, 1);

}


.first-partie-sitter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}


.discount-sitter {
    display: inline-block;    
    font-size: 70px;
    position: relative;
    top: -20px;
    width: 260px;
    color: rgba(244, 123, 104, 1);
    justify-content: space-between;
    font-family: 'Jersey\ 716', sans-serif;
}

.offer-sitter {
    display: inline-block;
    font-size: 40px;
    align-items: center;
    color: rgba(3, 110, 130, 1);
    font-family: 'Athiti', sans-serif;
}

.countdown-sitter {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
}

.time-sitter {
    margin: 0 10px;
    text-align: center;
}

.number-sitter {
    font-size: 2em;
    display: block;
}

.label-sitter {
    font-size: 1em;
}

.download-sitter {
    font-size: 1.5em;
    color: rgba(244, 123, 104, 1);
    margin: 10px 0;
}

.store-buttons-sitter {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-left: 290px;
}

.store-buttons-sitter img {
    width: 150px;
    margin-right: 10px;
    cursor: pointer;
}

.image-container-sitter {
    display: flex;
    align-items: flex-start;
    margin-right: 100px;
    margin-top: 60px;
}

.image-container-sitter img {
    position: relative;
    height: 450px;
    top: -20px;
    border-radius: 5%;
    margin-bottom: 20px;
    
    

}